[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pymongo = "*"
langchain-community = "*"
beautifulsoup4 = "*"
pydantic-settings = "*"
langchain-openai = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.11"
